
 <!-- ########################### Footer (rodapé do site) ########################## -->
 <footer>
    <div class="informations-and-social">
        <div class="container">
            <div class="content-box row" style="position: relative;">
                <div class="cnpj-endereco col-md-7">
                    <h6>CNPJ: 15.009.216/0001-95</h6>
                    <p>SERVICOS DE PROJETOS E PALESTRAS IN LTDA  -  Rua Jose Rufino De Almeida, nº1039, CEP:58.397-000, Areia - PB</p>
                </div><!-- cnpj-endereco -->

                <div class="social col-md-5">
                    <a href="#"><img src="../../public/images/youtube-icon.png" alt=""></a>
                    <a href="#"><img src="../../public/images/instagram-icon.png" alt=""></a>
                    <a href="#"><img src="../../public/images/threads-icon.png" alt=""></a>
                    <a href="#"><img src="../../public/images/facebook-icon.png" alt=""></a>
                </div><!-- social -->
                <a href="admin/login" style="position: absolute; left: 5px; bottom: -15px;">Area administrativa</a>
            </div><!-- content-box -->
        </div><!-- container -->
    </div><!-- informations-and-social -->

    <div class="direitos-autorais">
        <div class="container">
            <h6><i class="fa-regular fa-copyright"></i> Todos os direitos reservados.</h6>
            <a href="https://lasoftwares.netlify.app/" target="_blank"><p>Desenvolvido por &nbsp<span><i class="fa-regular fa-copyright"></i> LA Softwares</span></p></a>
        </div><!-- container -->
    </div><!-- direitos-autorais -->
</footer>