
 <!-- ########################### Footer (rodapé do site) ########################## -->
 <footer>
    <div class="informations-and-social">
        <div class="container">
            <div class="content-box row">
                <div class="cnpj-endereco col-md-8">
                    <h6>CNPJ: 15.009.216/0001-95</h6>
                    <p>Vila Real Palestras  -  Rua taltaltaltaltaltaltal, nº00, Areia - PB</p>
                </div><!-- cnpj-endereco -->

                <div class="social col-md-4">
                    <a href="#"><img src="../../public/images/youtube-icon.png" alt=""></a>
                    <a href="#"><img src="../../public/images/instagram-icon.png" alt=""></a>
                    <a href="#"><img src="../../public/images/threads-icon.png" alt=""></a>
                    <a href="#"><img src="../../public/images/facebook-icon.png" alt=""></a>
                </div><!-- social -->
            </div><!-- content-box -->
        </div><!-- container -->
    </div><!-- informations-and-social -->

    <div class="direitos-autorais">
        <div class="container">
            <h6><i class="fa-regular fa-copyright"></i> Todos os direitos reservados.</h6>
            <a href="#"><p>Desenvolvido por &nbsp<span><i class="fa-regular fa-copyright"></i> Lucas e André</span></p></a>
        </div><!-- container -->
    </div><!-- direitos-autorais -->
</footer>