<!DOCTYPE html>
<html>
<head>
    <title>Vila Real Palestras</title>
        <link rel="shortcut icon" type="image-x/png" href="/public/images/logoicon.ico">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="../../public/slick.css" rel="stylesheet">
        <link href="../../public/style.css" rel="stylesheet">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
        <meta name="description" content="Acompanhe a programação de palestras da empresa Vila Real e entre outras informações.">
        <meta name="author" content="André Negreiros, Lucas Germano">
        <meta name="keywords" content="palestras, vila real, empreender, fazer empresa crescer">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;600;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&display=swap" rel="stylesheet">
</head>
