<%- include('partials/head.html') %>

<body>
    <!-- ########################### Cabeçalho do site ########################## -->
        <header id="inicio" target="id-inicio">
            <div class="container-site">
                <div class="row">
                    <div class="logo col-md-3">
                        <img class="img-logo" src="../../public/images/img_Logo.png">
                    </div><!-- logo -->
    
                    <nav class="container-menu-desktop col-md-9">
                        <ul class="nav justify-content-end">
                            <li class="nav-item"><a href="#inicio" class="nav-item-link id-inicio">Início</a></li>
                            <li class="nav-item"><a href="#palestras" class="nav-item-link id-palestras">Palestras</a></li>
                            <li class="nav-item"><a href="#palestrantes" class="nav-item-link id-palestrantes">Palestrantes</a></li>
                            <li class="nav-item"><a href="#quem-somos" class="nav-item-link id-quem-somos">Quem Somos</a></li>
                            <li class="nav-item"><a href="#contato" class="nav-item-link id-contato">Contato</a></li>
                        </ul><!-- nav -->
                    </nav><!-- container-menu-desktop -->
                    
                    <nav class="container-menu-mobile col-md-9">
                        <div class="icon-menu-content">
                            <input hidden="" class="check-icon" id="check-icon" name="check-icon" type="checkbox">
                            <label class="icon-menu" for="check-icon">
                                <div class="bar bar--1"></div>
                                <div class="bar bar--2"></div>
                                <div class="bar bar--3"></div>
                            </label>
                        </div><!-- icon-menu-content -->
    
                        <ul class="nav flex-column">
                            <li class="nav-item"><a href="#inicio">Início</a></li>
                            <li class="nav-item"><a href="#palestras">Palestras</a></li>
                            <li class="nav-item"><a href="#palestrantes">Palestrantes</a></li>
                            <li class="nav-item"><a href="#quem-somos">Quem Somos</a></li>
                            <li class="nav-item"><a href="#contato">Contato</a></li>
                        </ul><!-- nav -->
                    </nav><!-- container-menu-mobile -->
                    <div style="clear: both;"></div>
                </div><!-- row -->
            </div><!-- container-site -->
        </header>
    
        <header-2>
            <div class="header-2 container">
                <h5>Vila Real Palestras</h6>
                <nav class="container-menu-desktop-fixed col-md-9">
                    <ul class="nav justify-content-end">
                        <li class="nav-item"><a href="#inicio" class="nav-item-link id-inicio">Início</a></li>
                        <li class="nav-item"><a href="#palestras" class="nav-item-link id-palestras">Palestras</a></li>
                        <li class="nav-item"><a href="#palestrantes" class="nav-item-link id-palestrantes">Palestrantes</a></li>
                        <li class="nav-item"><a href="#quem-somos" class="nav-item-link id-quem-somos">Quem Somos</a></li>
                        <li class="nav-item"><a href="#contato" class="nav-item-link id-contato">Contato</a></li>
                    </ul><!-- nav -->
                </nav><!-- container-menu-desktop -->
            </div><!-- header-2 container -->
        </header-2>

    <a href="#"><div class="icon-whatsapp-flutuante"></div><!-- icon-whatsapp-flutuante --></a>

<!-- ########################### Section Imagem de Apresentação ########################## -->

    <div class="bg-img-palestra mt-3">
        <div class="container-fluid">
            <div class="bg-image">
                <div class="img-single">
                    <div class="img-single-wrapper" style="background-image: url(../public/images/background_Luciana_no_palco.jpeg);"></div><!-- img-single-wrapper -->
                </div><!-- img-single -->

                <div class="img-single">
                    <div class="img-single-wrapper" style="background-image: url(../public/images/background_fundo_apresentacao_Luciana.png);"></div><!-- img-single-wrapper -->
                </div><!-- img-single -->
                
            </div><!-- bg-image -->
        </div><!-- container-fluid -->
    </div><!-- bg-img-palestra -->

<!-- ########################### Section Palestras ########################## -->
    <section class="palestras" id="palestras" target="id-palestras">
        <%
        var dataAtual = new Date().toLocaleString('pt-br').substr(0, 10);
        var partesDataAtual = dataAtual.split("/");
        var dataAtualNew = new Date(partesDataAtual[2], partesDataAtual[1] - 1, partesDataAtual[0]);
        %>
        <div class="container-site">

            <div class="line-division mt-5">
                <div class="line">
                </div><!-- line -->
                <h2>Palestras</h2>
            </div><!-- line-division -->

            <div class="box-palestras mt-4">

                <!-- ################ CARD PALESTRA ################## -->

                <% for(let i=0; i<palestras.length; i++) {
                    let brDate = (palestras[i].data).split('-').reverse().join('/');
                    let partesData = brDate.split("/");
                    let data = new Date(partesData[2], partesData[1] - 1, partesData[0]);
                    if(data >= dataAtualNew){
                    %>
                        <a href="<%= palestras[i].slug %>">
                            <div class="box-palestras-single mt-4 text-center">
                                <div class="box-palestras-wrapper">
                                    <img class="imagemP" src="<%=palestras[i].imagem%>">
                                    <h6><%= palestras[i].titulo %></h6>
                                    <p><%= palestras[i].local %> - <% if(data > dataAtualNew){ %> <%= palestras[i].data.split('-').reverse().join('/') %> <% }else{ %> HOJE <% } %> <%= palestras[i].horario %></p>
                                </div><!-- box-palestras-wrapper -->
                            </div><!-- box-palestras single -->
                        </a>
                 <% }
                } %>
            </div><!-- box-palestras -->

            <!-- ################# CARD PALESTRA (FIM) ################## -->


            <!-- ################ Seção de HISTÓRICO de Palestras passadas ################ -->

            <historico class="historico">  <!-- <i class="fa-solid fa-chevron-down"></i> -->

                <div class="btn-exibir-historico mt-4">
                    <h3>Histórico de Palestras <i class="fa-solid fa-chevron-right"></i></h3>
                    
                </div><!-- btn-exibir historico -->

                <div class="box-historico-palestras">

                    <!-- ################ CARD PALESTRA ################## -->
                    <% for(let i=0; i<palestras.length; i++) {
                    let brDate = (palestras[i].data).split('-').reverse().join('/');
                    let partesData = brDate.split("/");
                    let data = new Date(partesData[2], partesData[1] - 1, partesData[0]);
                    if(data < dataAtualNew){
                    %>
                        <a href="<%= palestras[i].slug %>">
                            <div class="box-palestras-single mt-4 text-center">
                                <div class="box-palestras-wrapper">
                                    <img src="<%=palestras[i].imagem%>">
                                    <h6><%= palestras[i].titulo %></h6>
                                    <p><%= palestras[i].local %> - <%= palestras[i].data.split('-').reverse().join('/') %> </p>
                                </div><!-- box-palestras-wrapper -->
                            </div><!-- box-palestras single -->
                        </a>
                    <% }
                    } %>
                
                    <!-- ################# CARD PALESTRA (FIM) ################## -->

                </div><!-- box-historico-palestras -->
            </historico><!-- historico -->
        </div><!-- container-site -->
    </section><!-- palesatras -->

<!-- ########################### Section Palestrantes ########################## -->
    <section class="palestrantes mt-2" id="palestrantes" target="id-palestrantes">
        <div class="container-site">
            <div class="line-division mt-3">
                <div class="line">
                </div><!-- line -->
                <h2>Palestrantes</h2>
            </div><!-- line-division -->
        </div><!-- container-site -->

        <div class="container">
            <div class="box-palestrantes mt-4 text-center">
                
                <% for(let i=0; i<palestrantes.length; i++) { %>
                <div class="pl-1 box-palestrantes-single text-center">
                    <div class="box-palestrantes-wrapper">
                        <div class="box-palestrantes-full">
                            <div class="box-img-palestrante" style="background-image: url(<%=palestrantes[i].imagem%>);"></div><!-- box-img-palestrante -->
                            <h6 data-toggle="modal" data-target="#palestrante<%=[i]%>"><%= palestrantes[i].nome %> <p>+ Informações</p></h6>
                        </div><!-- box-palestrantes-full -->
                    </div><!-- box-palestrantes-wrapper -->
                </div><!-- box-palestrantes-single -->
            <% } %>

            </div><!-- box-palestrantes -->
            <h5 class="text-center mt-4">“Expandindo Horizontes, Inspirando Mentes”</h5>

            <% for(let i=0; i<palestrantes.length; i++) { %>

            <!-- Modal -->
            <div class="modal fade" id="palestrante<%=[i]%>" tabindex="-1" role="dialog" aria-labelledby="TituloModalLongoExemplo" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content text-center">
                        
                            <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal" aria-label="Fechar" style="max-width: 70px; margin-left: 85%; margin-top: 5px;">
                                Fechar
                            </button>
                        
                        <div class="modal-body">
                            <div style="width: 100%; height: 100%; max-height: 560px; max-width: 500px; border-radius: 8px;"><img style="width: 100%; height: 100%;" src="<%= palestrantes[i].imagem %>"></div>
                            <h6 style="padding-top: 15px; font-size: 18px; font-weight: bold; text-transform: capitalize;"><%= palestrantes[i].nome %></h6>
                            <p style="text-align: left;"><%= palestrantes[i].biografia %></p>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>

        </div><!-- container-site -->
    </section><!-- palesatrantes -->

    <!-- ########################### Section Quem Somos ########################## -->
    <section class="quem-somos" id="quem-somos" target="id-quem-somos">
        <div class="container-site">

            <div class="line-division mt-5">
                <div class="line">
                </div><!-- line -->
                <h2>Quem Somos</h2>
            </div><!-- line-division -->

            <p>&nbsp&nbsp&nbsp&nbsp&nbsp A Vila Real Palestras tem como principal objetivo oferecer e/ou
                 assessorar na escolha do melhor palestrante e/ou curso/capacitação para seu evento. 
                 Para isso, a nossa empresa conta com profissionais experientes, com mais de doze 
                 anos no mercado de treinamentos e palestras e que tem realizado grandes parcerias 
                 com as principais entidades do Brasil.
            </p>
            <p style="position: relative; top: -20px;">&nbsp&nbsp&nbsp&nbsp&nbsp Formada por uma equipe igualmente experiente, para 
                 atendê-los com a merecida eficiência, 
                 enviando orçamentos e sugestões para a acertada escolha dos melhores profissionais 
                 para seu evento. 
            </p>
            <p style="position: relative; top: -40px;"> &nbsp&nbsp&nbsp&nbsp&nbsp Auxiliamos na coordenação de toda logística do 
                 profissional (pesquisas de voos e transportes terrestres) que atendam o evento e 
                 a agenda do palestrante, na seleção de hotéis e na articulação do translado local. 
                 Além de indicar o profissional ideal para todas as atividades, para melhor atender
                 as demandas, de acordo com a pauta do evento.</p>
        </div><!-- container-site -->
    </section><!-- Quem Somos -->

    <!-- ########################### Section Contato ########################## -->
    <section class="contato" id="contato" target="id-contato">
        <div class="container-site">

            <div class="line-division mt-5">
                <div class="line">
                </div><!-- line -->
                <h2>Contato</h2>
            </div><!-- line-division -->
        <!-- container-site -->

        <div class="container">
            <div class="numero-whats">
                <img src="../public/images/icon-whatsapp.png">
                <p class="wp">Whatsapp:</p>
                <p>Luciana Balbino: (83)9 9998-2597<span><a target="_blank" href="https://api.whatsapp.com/send?phone=5583999982597">Acesse pelo link</a></span></p>
            </div><!-- numero-whats -->

            <div class="email">
                <i class="fa-solid fa-envelope"></i>
                <p>irisvaldonasc@gmail.com</p>
            </div><!-- email -->
        <!-- container -->    
        
    </section><!-- Contato -->

    <div class="box-patrocinios mt-3">
        <div class="container">
            <h6>Apoio:</h6>
            <div class="carrosel">
                <div sr class="caixa__card cc__1"></div>
                <div class="caixa__card cc__2"></div>
                <div class="caixa__card cc__3"></div>
                <div class="caixa__card cc__4"></div>
                <div class="caixa__card cc__5"></div>
            </div>
        </div><!-- container -->
    </div><!-- box-patrocinios -->

    <%- include('partials/footer.html')%>

    <script src="../public/js/jquery.js"></script>
    <script src="https://kit.fontawesome.com/99067914a7.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="../public/js/slick.js"></script>
    <script src="../public/js/slider_responsivo.js"></script>
    <script src="../public/js/menu_responsivo.js"></script>
    <script src="../public/js/menu_secundario.js"></script>
    <script src="../public/js/menu_scroll.js"></script>
    <script src="../public/js/menu_hover_effect.js"></script>
    <script src="../public/js/exibir_historico.js"></script>

</body>
</html>